* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


@font-face{
    font-family: 'marathibold';
    src: url("../fonts/marathiBold.ttf");
}

.marathiHeading{
    font-family: 'marathibold';
    font-size: 5rem;
}