<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batmya</title>
</head>
<body>
    <div>
        (development phrase)
    </div>

    <div>
        this will be home page
    </div>

    <div>
        links <br>
        <a href="/getin">getin page</a>
    </div>

</body>
</html>