<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/css/getin.css">
  </head>
  <body>
    <main class="page-wrapper">
      <div class="heading marathiHeading">
          <h0>बातम्या.com</h1>
      </div>

        <div class="form">
          <div>
              <label>Create Your Username: </label> <br>
              <input type="text">
            </div>

            <div>
              <label>First Name</label> <br>
              <input type="text" name="" id="fname">
            </div>
            <div>
              <label>Last Name</label> <br>
              <input type="text" name="" id="lname">
            </div>
            <div>
              <label>Password</label> <br>
              <input type="password" name="\" id="psswrd">
            </div>
            <div> 
              <label>Confirm Password</label> <br>
              <input type="password" name="\" id="cpasswrd">
            </div>

            <button>Submit</button>
 
        </div>
   </main>
 </body>
</html>
